.match-teams {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  position: relative;

  & svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    pointer-events: none;
    width: 19vh;
    height: 19vh;
  }
}

.home-team,
.away-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  transform: skewX(-18deg);
  width: calc(50vw + 9vh);
  height: 40vh;
}

.team-name-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.completed-match-teams {
  & .home-team,
  & .away-team {
    height: 18vh;
    flex-direction: row;
    justify-content: space-between;
  }

  & .team-name {
    font-size: 30px;

    &.team-name-flex {
      display: flex;
      flex-direction: row;
      white-space: nowrap;
  
      & .team-logo {
        transform: skew(0);
      }
    }
   
  }

  & .home-team {
    & .team-name,
    & .team-logo {
      margin-left: 14vh;

      & div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: bold;
        font-size: 2.8;
      }
    }

    & .very-small-logo  {
      margin-right: 2vh;
      height: 12vh;
      margin-left: 0;
    }

    & .frames {
      margin-right: 8vh;
    }
  }
 
  & .away-team {
    flex-direction: row-reverse;

    & .very-small-logo {
      height: 12vh;
      margin-left: 20px;
      margin-right: 0 !important;
    }

    & .team-name,
    & .team-logo {
      margin-right: 14vh;
      
      & div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: bold;
        font-size: 2.8vh;
      }
    }

    & .frames {
      margin-left: 8vh;
    }
  }

  & .team-logo {
    height: 15vh;
    margin: 0;
    width: auto;
    max-width: 20vh;
  }
}

.team-logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.frames {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Inter;
  font-size: 13vh;
  font-weight: bold;
  line-height: 1;
  transform: skew(18deg);
}

.home-team {
  background: linear-gradient(270deg, #ff5400 0%, #ffba00 100%);
  margin-left: -10vh;
}

.away-team {
  background: linear-gradient(270deg, #700AC5 0%, #DD0C84 100%);
  margin-right: -10vh;
}

.team-name {
  transform: skew(18deg);
  font-size: 5vh;
  font-weight: bold;
  text-transform: uppercase;

}

.team-logo {
  height: 35vh;
  object-fit: contain;
  transform: skew(18deg);
  width: 70%;
  margin: 0 auto;

  &.logo-small {
    width: auto;
    height: 20vh;
    display: block;
    margin-bottom: 10px;
    transform: skew(0);
  }
}

.stats {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 40vh;

  &.missed-stats {
    height: 48vh;

    & .stats-item { 
      height: calc(12vh - 5px);
    }
  }
}

.stats-item {
  box-sizing: border-box;
  border-bottom: 1px solid #c0c0c0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: calc(10vh - 5px);

  &:last-child {
    border-bottom: none;
  }
}

.stats-value {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 4.5vh;
  font-weight: bold;
  line-height: 52px;

  &.stats-title {
    font-weight: 400;
    width: 20vw;
  }
}

.frames-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 55vh;
  position: relative;
}

.empty-frames {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 8vh;
  font-weight: bold;
  white-space: nowrap;
}

.frame {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2vh;
  box-sizing:  border-box;
  border-bottom: 1px solid #c0c0c0;
  height: 13.75vh;

  &:nth-child(4) {
    border-bottom: none;
  }
}

.frame-left,
.frame-right {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.frame-right {
  flex-direction: row-reverse;
}

.break-wrapper,
.result-fame-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.break-wrapper svg {
  height: 11.5vh;
  width: 11.5vh;
}

.result-frame {
  width: 13vh;
  height: 9vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(180deg, #FF5300 0%, #DD0605 100%);
  color: #fff;
  text-align: center;
  font-size: 4vh;
  font-weight: bold;
  line-height: 52px;
  text-transform: uppercase;


  &.home-result {
    border-radius: 7vh 0vh 0vh 7vh;
  }

  &.away-result {
    border-radius: 0vh 7vh 7vh 0vh;

  }

  &.winner {
    background: linear-gradient(180deg, #65C900 0%, #00BE5E 100%);
    font-size: 5vh;
  }
}

.players-wrapper {
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  justify-content: center;
  font-size: 4.3vh;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  color: #171818;
  max-width: 24vw;
  text-align: center;

  &.big-font-size {
    font-size: 5vh;
  }

  &.white-space {
    white-space: inherit;
  }

  & span {
    font-weight: bold;
  }
}

.frames-pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 15vh;
  border-top: 1px solid #c0c0c0;
}

.page-button,
.frame-pages {
  width: 33.3%;
  box-sizing: border-box;
} 

.page-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  padding-left: 4vh;

  & .page-text-wrapper,
  & .page-icon-wrapper  {
    display: flex;
    height: 15vh;
    flex-direction: column;
    justify-content: center;
  }

  & .page-text-wrapper {
    font-size: 3vw;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
  }

  &:disabled {
    color: #c0c0c0;

    & svg {
      path {
        stroke: #c0c0c0;
      }
    }
  }

  & svg {
    margin-right: 2vh;
  }
}

.next-button {
  padding-left: 0;
  padding-right: 4vh;
  justify-content: flex-end;
  padding-left: 0;

  & svg {
    transform: rotate(180deg);
    margin-right: 0;
    margin-left: 2vh;
  }
}

.frame-pages {
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 3.5vw;
  font-weight: 400;
  line-height: 52px;
  text-transform: uppercase;
}

.versus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  font-size: 4vh;
  width: 13vh;
  text-align: right;

  &.versus-left {
    text-align: left;
  }
}

.current-frame {
  background: linear-gradient(0deg, #7d3cff, #471384);

  & .players-wrapper,
  & .versus {
    color: #fff;
  }
}