.match-teams {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid;
  border-top: 1px solid #d7d7d7;
  background: linear-gradient(0deg, rgba(176,176,176,1) 0%, rgba(214,214,214,1) 2%, rgba(227,227,227,1) 4%, rgba(246,246,246,1) 4%, rgba(255,255,255,1) 100%);

  & svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    pointer-events: none;
    width: 19vh;
    height: 19vh;
  }
}

.home-team,
.away-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #000;
  width: calc(50vw - 2vh);
  height: 40vh;
}

.team-name-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.away-team {
  & .winner-wrapper {
    left: 0 !important;
    right: inherit !important;
  }
}

.completed-match-teams {
  & .home-team,
  & .away-team {
    height: 30vh;
    flex-direction: row;
    justify-content: space-between;
  }

  & .team-name {
    font-size: 30px;

    &.team-name-flex {
      display: flex;
      flex-direction: row;
      white-space: nowrap;
  
      & .team-logo {
        transform: skew(0);
      }
    }
   
  }

  & .home-team {
    & .team-name,
    & .team-logo {
      margin-left: 5vh;

      & div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: bold;
        font-size: 2.8vh;
      }
    }

    & .very-small-logo  {
      margin-right: 2vh;
      height: 12vh;
      margin-left: 0;
    }

    & .frames {
      margin-right: 3vh;
    }
  }
 
  & .away-team {
    flex-direction: row-reverse;

    & .very-small-logo {
      height: 12vh;
      margin-left: 20px;
      margin-right: 0 !important;
    }

    & .team-name,
    & .team-logo {
      margin-right: 5vh;
      
      & div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: bold;
        font-size: 2.8vh;
      }
    }

    & .frames {
      margin-left: 3vh;
    }
  }

  & .team-logo {
    height: 20vh;
    margin: 0;
    width: auto;
    max-width: 20vh;
  }
}

.team-logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  & .winner-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

    & svg {
      height: 13vh;
      width: 13vh;
      transform: none;
      position: absolute;
      right: 0 !important;
      bottom: 0;
      left: inherit !important;
    }
  }
}

.frames {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Inter;
  font-size: 25vh;
  font-weight: bold;
  line-height: 1;
  color: #212121;
}

.team-name {
  font-size: 5vh;
  font-weight: bold;
  text-transform: uppercase;
}

.team-logo {
  height: 35vh;
  object-fit: contain;
  width: 70%;
  margin: 0 auto;

  &.logo-small {
    width: auto;
    height: 20vh;
    display: block;
    margin-bottom: 10px;
    transform: skew(0);
  }
}

.stats {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 40vh;
  background: linear-gradient(0deg, #16134a, #5d2fb2);
  box-shadow: inset 0px 3px 25px #000;

  &.missed-stats {
    height: 48vh;

    & .stats-item { 
      height: calc(12vh - 5px);
    }
  }
}

.stats-item {
  box-sizing: border-box;
  border-bottom: 1px solid #000;
  border-top: 1px solid #342ca1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: calc(12vh - 5px);

  &:last-child {
    border-bottom: none;
  }
}

.stats-value {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 4.5vh;
  font-weight: bold;
  line-height: 52px;
  color: #fff;

  &.stats-title {
    font-weight: 400;
    width: 20vw;
  }
}

.frames-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 57vh;
  position: relative;
  background: linear-gradient(0deg, #16134a, #5d2fb2);
  box-shadow: inset 0px 3px 25px #000;
}

.empty-frames {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 8vh;
  font-weight: bold;
  white-space: nowrap;
}

.frame {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2vh;
  box-sizing:  border-box;
  border-bottom: 1px solid #000;
  border-top: 1px solid #342ca1;
  height: 14.75vh;

  &:nth-child(4) {
    border-bottom: none;
  }
}

.frame-left,
.frame-right {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.frame-right {
  flex-direction: row-reverse;
}

.break-wrapper,
.result-fame-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.break-wrapper svg {
  height: 11.5vh;
  width: 11.5vh;
  filter: drop-shadow(0px 2px 1px #433cd1);

  & path {
    stroke: #000;
  }
}

.result-frame {
  width: 10vh;
  height: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(180deg, #FF5300 0%, #DD0605 100%);
  color: #fff;
  text-align: center;
  font-size: 3vh;
  font-weight: bold;
  line-height: 52px;
  text-transform: uppercase;
  border-bottom: 3px solid #990000;
  border-top: 3px solid #ffa000;
  color: #842a03;
  text-shadow: 1px 1px 1px #ff7747;

  &.home-result {
    border-radius: 7vh 0vh 0vh 7vh;
    box-shadow: 11px 3px 18px #000;
  }

  &.away-result {
    border-radius: 0vh 7vh 7vh 0vh;
    box-shadow: -9px 3px 18px #000;
  }

  &.winner {
    background: linear-gradient(180deg, #00e311 0%, #008b37 100%);
    border-bottom: 3px solid #026426;
    border-top: 3px solid #87ff29;
    font-size: 3vh;
    color: #076f22;
    text-shadow: 1px 1px 1px #61f484;
  }
}

.players-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 4.3vh;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  max-width: 24vw;
  text-align: center;

  &.big-font-size {
    font-size: 5vh;
  }

  &.white-space {
    white-space: inherit;
  }

  & span {
    font-weight: bold;
  }
}

.frames-pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 7vh;
  border-top: 1px solid #c0c0c0;
}

.frame-pages {
  width: 50%;
  box-sizing: border-box;
} 

.page-button {
  box-sizing: border-box;
  width: 25%;
}

.page-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  padding-left: 2vh;

  & .page-text-wrapper,
  & .page-icon-wrapper  {
    display: flex;
    height: 7vh;
    flex-direction: column;
    justify-content: center;
  }

  & .page-text-wrapper {
    font-size: 2vw;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
  }

  & .page-icon-wrapper svg {
    width: 3vh;
    height: 3vh;
  }

  &:disabled {
    color: #c0c0c0;

    & svg {
      path {
        stroke: #c0c0c0;
      }
    }
  }

  & svg {
    margin-right: 2vh;
  }
}

.next-button {
  padding-left: 0;
  padding-right: 4vh;
  justify-content: flex-end;
  padding-left: 0;

  & svg {
    transform: rotate(180deg);
    margin-right: 0;
    margin-left: 2vh;
  }
}

.frame-pages {
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2.5vw;
  font-weight: 400;
  line-height: 52px;
  text-transform: uppercase;
}

.versus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  font-size: 4vh;
  width: 13vh;
  text-align: right;
  color: #fff;

  &.versus-left {
    text-align: left;
  }
}

.current-frame {
  background: linear-gradient(0deg, #7c0bff, #ff00e5);
  box-shadow: 1px 10px 29px #000;
  border-top: 3px solid #ffa0f6;

  & svg {
    filter: drop-shadow(0px 2px 1px #d961eb);

    & path {
      stroke: #000;
    }
  }

  & .players-wrapper,
  & .versus {
    color: #fff;
  }
}

.frames-separator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 4vh;

  & div {
    width: 4vh;
    height: 1vh;
    background: #212121;
  }
}
