.current-date {
  padding-top: 48px;
  margin-bottom: 54px;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 48px;
  border-bottom: 1px solid #c0c0c0;
  font-weight: 700;
  font-size: 72px;
  line-height: 74px;
}

.other-upcoming-matches {
  padding: 60px 40px 0;

  &.without-padding {
    padding-top: 0;
  }
}

.upcoming-matches-title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 36px;
  font-size: 44px;
  line-height: 52px;
  color: #000;
}

.upcoming-matches-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 60px;
  border-bottom: 1px solid #c0c0c0;
}

.match-date {
  padding-top: 48px;
  margin-bottom: 54px;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 48px;
  border-bottom: 1px solid #c0c0c0;
  font-weight: 700;
  font-size: 72px;
  line-height: 74px;
}